<div class="container form">
  <div class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input #listPipe (keyup)="$event" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </form>
  </div>
</div>
<div class="container cards" *ngFor="let item of ( collection | async ) | filter:listPipe.value">
  <div class="card">
    <span class="card-header" [appState]="item.state">Commande livrée</span>
    <div class="card-body">
      <h4 class="card-title">{{ item.name }}</h4>
      <p class="card-text">référence : {{ item.reference }}</p>
      <div *ngIf="2 !== item.state">
        <button *ngIf="1 !== item.state" (click)="changeState(item, 1)" class="btn btn-primary">En cours</button>
        <button (click)="changeState(item, 2)" class="btn btn-primary">Livrée</button>
      </div>
    </div>
  </div>
</div>
